* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    overflow: hidden;
}

:root {
    font-size: 16px;
    --bg-main: #ea907a;
    --bg-first-category: #fbc687;
    --bg-second-category: #f4f7c5;
    --bg-third-category: #aacdbe;
}

html, body, #root, .mainWrapper {
    width: 100%;
    height: 100%;
}

.mainWrapper {
    display: flex;
    flex-direction: row;
}

.menuWrapper {
    position: fixed;
    background-color: var(--bg-main);
    transition: width 200ms ease;
}

.menuList {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-main);
}

.menuButton {
    display: flex;
    align-items: center;
    height: 5rem;
    filter: grayscale(100%) opacity(0.3);
    transition: 200ms;
}

.menuInfoButton:hover {
    filter: grayscale(0%) opacity(1);
}
.menuContactButton:hover {
    filter: grayscale(0%) opacity(1);
}
.menuWebButton:hover {
    filter: grayscale(0%) opacity(1) invert(100%) sepia(31%) saturate(5204%) hue-rotate(303deg) brightness(106%) contrast(97%);
}
.menuGamesButton:hover {
    filter: grayscale(0%) opacity(1) invert(94%) sepia(16%) saturate(485%) hue-rotate(15deg) brightness(104%) contrast(94%);
}
.menuLitButton:hover {
    filter: grayscale(0%) opacity(1) invert(89%) sepia(17%) saturate(284%) hue-rotate(102deg) brightness(86%) contrast(93%);
}

.menuButtonText {
    display: none;
    margin-left: 1rem;
}

img {
    width: 3rem;
    margin: 0 1rem;

}

.pageWrapper {
    margin-left: 5rem;
    height: 100vh;
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .menuWrapper {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .menuList {
        flex-direction: row;
    }

    .menuButton {
        justify-content: center;
    }

    .pageWrapper {
        margin-left: 0;
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .menuWrapper {
        top: 0;
        height: 100vh;
        width: 5rem;
    }

    .menuWrapper:hover {
        width: 13rem;
    }

    .menuWrapper:hover .menuButtonText {
        display: block;
    }
}