* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

:root {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    --bg-main: #ea907a;
    --bg-first-category: #fbc687;
    --bg-second-category: #aacdbe;
    --bg-third-category: #ffffff;
    --bg-submain: #f4f7c5;
    --bg-default: #444444;
    --box-shadow: #bfc199;
    --linkedin-blue: #0077B7;
    --github-black: #24292E;
    --gmail-light-red: #FCE8E6;
    --gmail-dark-red: #DF544B;
    --whatsapp-light-green: #95DB76;
    --whatsapp-dark-green: #4AAE20;
}

html, body, #root, .mainWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--bg-submain);
}

.paragraph {
    color: var(--bg-default);
}

.projectPageWrapper::-webkit-scrollbar{
    width: 0.5rem;
}
.projectPageWrapper::-webkit-scrollbar-track {
    background-color: var(--bg-submain);
}
.projectPageWrapper::-webkit-scrollbar-thumb {
    background-color: var(--bg-main);
}
.landingPageWrapper::-webkit-scrollbar {
    width: 0.5rem;
}
.landingPageWrapper::-webkit-scrollbar-track {
    background-color: var(--bg-submain);
}
.landingPageWrapper::-webkit-scrollbar-thumb {
    background-color: var(--bg-main);
}

#dimensions {
    position: absolute;
    top: 0;
}

.button {
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: black;
}


.mainWrapper {
    display: flex;
    flex-direction: row;
}

.pageWrapper {
    margin-left: 5rem;
    height: 100vh;
    width: 100vw;
}

/* Menu */
.menuWrapper {
    position: fixed;
    background-color: var(--bg-main);
    transition: width 200ms ease;
    z-index: 1;
}

.menuList {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-main);
}

.menuButton {
    display: flex;
    align-items: center;
    height: 5rem;
}

.unselected.menuButton {
    filter: grayscale(100%) opacity(0.3);
}

.selected.menuInfoButton {
    filter: grayscale(0%) opacity(0.9);
}
.selected.menuContactButton {
    filter: grayscale(0%) opacity(0.9);
}
.selected.menuWebButton {
    filter: grayscale(0%) opacity(1) invert(100%) sepia(31%) saturate(5204%) hue-rotate(303deg) brightness(106%) contrast(97%);
}
.selected.menuGamesButton {
    filter: grayscale(0%) opacity(1) invert(89%) sepia(17%) saturate(284%) hue-rotate(102deg) brightness(86%) contrast(93%);
}
.selected.menuLitButton {
    filter: invert(99%) sepia(0%) saturate(7500%) hue-rotate(229deg) brightness(101%) contrast(101%);
}

.menuButtonText {
    display: none;
    margin-left: 1rem;
    font-size: 1.2em;
}

.menuButton img {
    width: 3rem;
    margin: 0 1rem;
}

.paragraph {
    line-height: 1.5rem;
}

/* Landing page */
.landingPageWrapper {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
.landingPresentationWrapper {
    display: flex;
    align-items: center;    
}
.landingPresentationWrapper .paragraph {
    padding-left: 15px;
    border-left: 5px solid var(--bg-main);
}
.profilePicWrapper img {
    border-radius: 50%;
    width: 20rem;
    border: 10px solid var(--bg-main);
}
.landingLinksWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.landingLink {
    background-color: var(--box-shadow);
    box-shadow: -2px 2px 2px var(--box-shadow);
    border-radius: 1rem;
}
.landingLink .linkContent {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    background-color: whitesmoke;
    border-radius: 1rem;
    transition: 100ms ease;
}

/* Contact */
.contactPageWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.contactLinksWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.contactLink {
    background-color: var(--box-shadow);
    box-shadow: -2px 2px 2px var(--box-shadow);
    border-radius: 1rem;
}

.contactLink .linkContent {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    background-color: whitesmoke;
    border-radius: 1rem;
    transition: 100ms ease;
}

.linkContent img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contactTextWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactTextWrapper .paragraph {
    padding-left: 15px;
    border-left: 5px solid var(--bg-main);
}

.webLinks {
    display: flex;
    justify-content: space-around;
}

.otherLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.otherLink {
    display: flex;
    align-items: center;
    padding: 2rem 3rem;
    background-color: whitesmoke;
    transition: 100ms ease;
}

.otherLink .paragraph {
    margin-left: 2rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    font-weight: 900;
}

.otherLink:first-child .paragraph::selection {
    background: var(--gmail-dark-red);
    color: whitesmoke;
}
.otherLink:first-child .paragraph::-moz-selection {
    background: var(--gmail-dark-red);
    color: whitesmoke;
}
.otherLink:last-child .paragraph::selection {
    background: var(--whatsapp-dark-green);
    color: whitesmoke;
}
.otherLink:last-child .paragraph::-moz-selection {
    background: var(--whatsapp-dark-green);
    color: whitesmoke;
}


/* Projects  */
.projectPageWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.projectLine {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.projectWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 2rem 4rem 2rem;
    position: relative;
    overflow: visible;
    border: 1px solid var(--bg-default);
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: white;
    transition: 200ms ease;
}

.projectTitle, .projectBanner, .projectContent, .projectLinks {
    width: 100%;
}

.projectTitle {
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    border-radius: 0.5rem 0.5rem 0 0;
    border-bottom: 1px solid var(--bg-default);
}

.projectTitle.category_1 {
    background-color: var(--bg-first-category);
}
.projectTitle.category_2 {
    background-color: var(--bg-second-category);
}
.projectTitle.category_3 {
    background-color: var(--bg-third-category);
}

.projectBanner {
    background-color: var(--bg-default);
    position: relative;
    overflow: hidden;
}

.bannerImage {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projectContent {
    height: 19rem;
}

.projectContent.unselected {
    display: none;
}
.projectContent.selected {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.projectFeats li {
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 1rem 0;
}

.listTextWrapper {
    margin-left: 1rem;
}

.projectLinks {
    height: 2.5rem;
    margin-bottom: 3.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.projectLinks.unselected {
    display: none;
}
.projectLinks.selected {
    display: flex;
}

.projectLink {
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
}

.projectLink.category_1 {
    background-color: var(--bg-first-category);
}
.projectLink.category_2 {
    background-color: var(--bg-second-category);
}
.projectLink.category_3 {
    background-color: var(--bg-default);
    color: whitesmoke;
}

.projectButton {
    height: 5rem;
    width: 5rem;
    border-radius: 5rem;
    position: absolute;
    bottom: -2.5rem;
    background-color: white;
    line-height: 5rem;
    text-align: center;
    transition: background-color 200ms ease;
}

.projectButton.category_1 {
    border: 2px solid var(--bg-first-category);
}
.category_1 img {
    filter: grayscale(0%) opacity(1) invert(100%) sepia(31%) saturate(5204%) hue-rotate(303deg) brightness(106%) contrast(97%);
}
.projectButton.category_2 {
    border: 2px solid var(--bg-second-category);
}
.category_2 img {
    filter: grayscale(0%) opacity(1) invert(89%) sepia(17%) saturate(284%) hue-rotate(102deg) brightness(86%) contrast(93%);
}
.projectButton.category_3 {
    border: 2px solid var(--bg-default);
}
.category_3 img {
    filter: invert(24%) sepia(98%) saturate(0%) hue-rotate(237deg) brightness(90%) contrast(96%);
}

.projectButton img {
    height: 3rem;
    width: 3rem;
    vertical-align: middle;
}


/* Small screens */
@media only screen and (max-width: 600px) {
    .pageWrapper {
        margin-bottom: 5rem;
        height: auto;
    }

    .menuWrapper {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    .menuList {
        justify-content: space-around;
    }
    .menuButton img {
        margin: 0.5rem;
        width: 2.5rem;
    }

    .menuList {
        flex-direction: row;
    }

    .menuButton {
        justify-content: center;
    }

    .pageWrapper {
        margin-left: 0;
    }

    .landingPresentationWrapper {
        height: 80%;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 2rem 0 1rem 0;
    }
    .landingPresentationWrapper .paragraph {
        font-size: 0.8rem;
    }

    .landingLinksWrapper {
        height: 20%;
    }

    .profilePicWrapper {
        display: flex;
        justify-content: center;
    }
    .profilePicWrapper img {
        width: 40%;
        margin-top: 1rem;
    }
    .landingLink {
        box-shadow: none;
        width: 5rem;
        height: 5rem;
    }
    .landingLink img {
        width: 2rem;
    }
    .landingLink:first-child .linkContent {
        background-color: var(--linkedin-blue);
    }
    .landingLink:first-child .linkContent img {
        filter: invert(99%) sepia(0%) saturate(7500%) hue-rotate(229deg) brightness(101%) contrast(101%);
    }
    .landingLink:last-child .linkContent {
        background-color: black;
    }
    .landingLink:last-child .linkContent img {
        filter: invert(99%) sepia(0%) saturate(7500%) hue-rotate(229deg) brightness(101%) contrast(101%);
    }


    .contactPageWrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contactTextWrapper {
        max-width: 90%;
        font-size: 0.8rem;
        margin-bottom: 1rem;
        padding-right: 2.5rem;
        
    }
    .contactLinksWrapper {
        justify-content: center;
        width: 100%;
    }
    .webLinks, .otherLinks {
        width: 100%;
    }
    .webLinks {
        margin-bottom: 1rem;
    }

    .contactLink {
        width: 4rem;
        height: 4rem;
        box-shadow: none;
        border-radius: 0.5rem;
    }
    .contactLink .linkContent {
        border-radius: 0.5rem;
    }
    .contactLink img {
        width: 2rem;
    }
    .contactLink:first-child .linkContent {
        background-color: var(--linkedin-blue);
    }
    .contactLink:first-child .linkContent img {
        filter: invert(99%) sepia(0%) saturate(7500%) hue-rotate(229deg) brightness(101%) contrast(101%);
    }
    .contactLink:last-child .linkContent {
        background-color: var(--github-black);
    }
    .contactLink:last-child .linkContent img {
        filter: invert(99%) sepia(0%) saturate(7500%) hue-rotate(229deg) brightness(101%) contrast(101%);
    }

    .otherLink {
        width: 100%;
        padding: 0.5rem 0 0.5rem 1rem;
        margin: 0.5rem 0;
        border-radius: 0;
        box-shadow: none;
    }
    .otherLink img {
        height: 2rem;
        width: 2rem;
        margin-left: 10%;
    }
    .otherLink .paragraph {
        margin-left: 1rem;
        height: 2rem;
        line-height: 2rem;
        font-weight: 600;
    }
    .otherLink:first-child {
        border-bottom: 5px solid var(--gmail-dark-red);
    }
    .otherLink:first-child .paragraph {
        color: var(--gmail-dark-red);
    }
    .otherLink:first-child img {
        filter: invert(38%) sepia(98%) saturate(576%) hue-rotate(320deg) brightness(93%) contrast(89%);
    }
    .otherLink:last-child {
        border-bottom: 5px solid var(--whatsapp-dark-green);
    }
    .otherLink:last-child .paragraph {
        color: var(--whatsapp-dark-green);
    }
    .otherLink:last-child img {
        filter: invert(53%) sepia(33%) saturate(1174%) hue-rotate(58deg) brightness(101%) contrast(80%);
    }

    .projectWrapper.unselected {
        height: 20rem;
        width: 20rem;
    }

    .projectWrapper.selected {
        width: 20rem;
        height: 70rem;
    }

    .projectContent.selected {
        height: 49rem;
        flex-direction: column;
    }

    .projectBanner {
        height: 15rem;
    }

    .projectDesc, .projectFeats {
        max-width: 90%;
    }

    .projectLinks a {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .project-transition-enter {
        left: -200px;
        visibility: hidden;
        opacity: 0;
    }
    .project-transition-enter-active {
        left: 0;
        visibility: visible;
        opacity: 1;
        transition: all 250ms ease-out;
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .menuWrapper {
        top: 0;
        height: 100vh;
        width: 5rem;
    }

    .menuWrapper:hover {
        width: 15rem;
    }

    .menuWrapper:hover .menuButtonText {
        display: block;
    }

    .menuWebButton {
        margin-top: 5rem;
    }

    .landingPresentationWrapper {
        width: 100%;
        height: 60%;
        justify-content: space-around;
    }

    .landingPresentationWrapper .paragraph {
        max-width: 520px;
    }
    .landingLinksWrapper {
        height: 40%;
    }
    .contactPageWrapper {
        justify-content: space-around;
    }
    .contactTextWrapper .paragraph {
        width: 60%;
    }
    .contactLinksWrapper {
        width: 200%;
        margin-left: 2rem;
    }
    .contactLink, .landingLink {
        width: 10rem;
        height: 10rem;
    }
    .contactLink img {
        width: 5rem;
    }
    .landingLink img {
        width: 5rem;
    }
    .webLinks {
        width: 100%;
    }
    .otherLinks {
        width: 100%;
        height: 25rem;
    }
    .otherLink {
        width: 70%;
        max-width: 600px;
        padding: 1rem 4rem 1rem 2rem;
    }
    .otherLink img {
        width: 4rem;
    }
    .otherLink .paragraph {
        font-size: 1.2rem;
    }
    .otherLink:first-child {
        border-left: 5px solid var(--gmail-dark-red);
    }
    .otherLink:first-child .paragraph {
        color: var(--gmail-dark-red);
    }
    .otherLink:first-child img {
        filter: invert(38%) sepia(98%) saturate(576%) hue-rotate(320deg) brightness(93%) contrast(89%);
    }

    .otherLink:last-child {
        border-left: 5px solid var(--whatsapp-dark-green);
    }
    .otherLink:last-child .paragraph {
        color: var(--whatsapp-dark-green);
    }
    .otherLink:last-child img {
        filter: invert(53%) sepia(33%) saturate(1174%) hue-rotate(58deg) brightness(101%) contrast(80%);
    }

    .projectWrapper.unselected {
        height: 25rem;
        width: 25rem;
    }
    
    .projectWrapper.selected {
        height: 50rem;
        width: 50rem;
    }

    .projectWrapper.smallSize {
        height: 20rem;
        width: 20rem;
    }

    .projectDesc {
        width: 22rem;
    }
    .projectFeats {
        max-width: 22rem;
    }
    
    .projectBanner {
        height: 20rem;
    }

    .projectWrapper.smallSize .projectBanner {
        height: 15rem;
    }

    .project-transition-enter {
        left: -200px;
        visibility: hidden;
        opacity: 0;
    }
    .project-transition-enter-active {
        left: 0;
        visibility: visible;
        opacity: 1;
        transition: all 250ms ease-out;
    }
}

@media (hover: hover) {
    
    .menuInfoButton:hover {
        filter: grayscale(0%) opacity(0.9);
    }
    .menuContactButton:hover {
        filter: grayscale(0%) opacity(0.9);
    }
    .menuWebButton:hover {
        filter: grayscale(0%) opacity(1) invert(100%) sepia(31%) saturate(5204%) hue-rotate(303deg) brightness(106%) contrast(97%);
    }
    .menuGamesButton:hover {
        filter: grayscale(0%) opacity(1) invert(89%) sepia(17%) saturate(284%) hue-rotate(102deg) brightness(86%) contrast(93%);
    }
    .menuLitButton:hover {
        filter: invert(99%) sepia(0%) saturate(7500%) hue-rotate(229deg) brightness(101%) contrast(101%);
    }

    .projectButton.category_1:hover img {
        filter: invert(100%) sepia(93%) saturate(0%) hue-rotate(201deg) brightness(106%) contrast(106%);
    }
    .projectButton.category_1:hover {
        background-color: var(--bg-first-category);
    }
    .projectButton.category_2:hover img {
        filter: invert(100%) sepia(93%) saturate(0%) hue-rotate(201deg) brightness(106%) contrast(106%);
    }
    .projectButton.category_2:hover {
        background-color: var(--bg-second-category);
    }
    .projectButton.category_3:hover img {
        filter: invert(100%) sepia(93%) saturate(0%) hue-rotate(201deg) brightness(106%) contrast(106%);
    }
    .projectButton.category_3:hover {
        background-color: var(--bg-default);
        border-color: white;
    }

    .contactLink:first-child:hover .linkContent {
        top: -3px;
        left: 3px;
        background-color: var(--linkedin-blue);
    }
    .contactLink:first-child:hover .linkContent img {
        filter: invert(99%) sepia(0%) saturate(7500%) hue-rotate(229deg) brightness(101%) contrast(101%);
    }
    .contactLink:last-child:hover .linkContent {
        top: -3px;
        left: 3px;
        background-color: black;
    }
    .contactLink:last-child:hover .linkContent img {
        filter: invert(99%) sepia(0%) saturate(7500%) hue-rotate(229deg) brightness(101%) contrast(101%);
    }

    .landingLink:first-child:hover .linkContent {
        top: -3px;
        left: 3px;
        background-color: var(--linkedin-blue);
    }
    .landingLink:first-child:hover .linkContent img {
        filter: invert(99%) sepia(0%) saturate(7500%) hue-rotate(229deg) brightness(101%) contrast(101%);
    }
    .landingLink:last-child:hover .linkContent {
        top: -3px;
        left: 3px;
        background-color: black;
    }
    .landingLink:last-child:hover .linkContent img {
        filter: invert(99%) sepia(0%) saturate(7500%) hue-rotate(229deg) brightness(101%) contrast(101%);
    }

}

/* Project transitions */

.contactPageWrapper, .landingPageWrapper, .projectPageWrapper {

}

.project-secondary-transition-enter {
    visibility: hidden;
    opacity: 0;
}
.project-secondary-transition-enter-active {
    visibility: visible;
    opacity: 0;
    transition: 150ms ease;
}
.project-secondary-transition-exit {
    visibility: hidden;
    opacity: 0;
}
.project-secondary-transition-exit-active {
    visibility: visible;
    opacity: 0;
    transition: 150ms ease;
}

.page-transition-enter {
    visibility: hidden;
    opacity: 0;
    left: -500px;
}
.page-transition-enter-active {
    visibility: visible;
    opacity: 1;
    left: 0px;
    transition: 200ms ease;
}
.page-transition-exit {
    visibility: visible;
    opacity: 1;
    left: 0px;
}
.page-transition-exit-active {
    visibility: hidden;
    opacity: 0;
    left: -500px;
    transition: 200ms ease;
}