* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    overflow: hidden;
}

:root {
    font-size: 16px;
    --bg-main: #ea907a;
    --bg-first-category: #fbc687;
    --bg-second-category: #f4f7c5;
    --bg-third-category: #aacdbe;
}

button {
    background-color: var(--bg-main);
}

html, body, #root, .mainWrapper {
    width: 100%;
    height: 100%;
}

.mainWrapper {
    display: flex;
    flex-direction: row;
}

.menuWrapper {
    height: 100vh;
    width: 5rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-main);
}

.pageWrapper {
    margin-left: 5rem;
    height: 100vh;
}